.about-image {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 16px;
} 

.about-text {
  max-width: 486px;
  text-align: justify;
  /* 0 margin (top and bottom), auto on sides to centre it */
  margin: 0 auto;
}

.about-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}