main {
  min-height: 80vh; /* This will push the footer to the bottom, as footer is beneath main */
}


h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}