/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Headers: Allura
   Text & Buttons: Playfair Display
*/

/* Root Variables */

:root {
  --brand-bg: #fdf6ef; /* main cream colour for backgrounds */
}

/* ----- General Styles ----- */

/* Apply cream to the whole page */
html, body, #root {
  background-color: var(--brand-bg);
}


main {
  min-height: 80vh; /* This will push the footer to the bottom, as footer is beneath main */
}

h1, h2 {
  font-family: 'Allura' !important;
  font-weight: 600 !important;
  padding-top: 0px !important;
}

p {
  font-family: 'Ubuntu Static' !important;
}

.subheader {
  font-family: 'Playfair Display' !important;
  font-weight: 100;
  font-size: medium;
  padding-top: 0px;
  margin-top: 0px;
} 

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

/* ----- Header Styles ----- */

/* Logo */

.logo {
  height: 2.5rem;
  border-radius: 50%;
}

/* Header Text */

/* A custom class for header background */
.brand-bg {
  background-color: var(--brand-bg) !important;
}