.prebaked-title {
    text-align: center;
}

.prebaked-image {
  width: 100%;
  height: 320px;          /* pick a height that matches your design */
  object-fit: cover;      /* crops to fill the frame */
  border-radius: 16px;
  display: block;
}

.prebaked-sub {
  text-align: center;
}


.honey-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.honey-pot-prebaked {
  max-width: 50px;
  max-height: 50px;
  margin: 2px auto;
}